   
    /* Variables */
    :root {
        --font1: 12pt;
        /*1280 */
        --font2: 13pt;
        /*1680 */
        --font3: 13pt;
        /*736 */
        --font4: 15pt;
        /*basic */
        --font-fam1: 'Fira Sans', sans-serif;
        --bgc: #e9e9e9;
    }