
.table-wrapper1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}


table {
    /*width: 95%;*/
    margin-bottom: 20px;
    border: 20px solid #c41e1e;
    border-collapse: collapse; 
}
table th {
    font-weight: bold;
    padding: 5px;
    background: #D7D7D7;
    border: 1px solid #0000002d;
    vertical-align: middle;
}
table td {
    border: 1px solid #0000002d;
    padding: 5px;
    vertical-align: middle;
}

.paragraph>.table-wrapper1{
        width: 90%;
    }


@media screen and (min-width: 1200px) {

    .paragraph>.table-wrapper1{
        width: 50%;
    }
}

@media screen and (max-width: 700px) {

    .table-wrapper2{
    font-size: 15px;
}
table th {
    font-size: 14px;
    padding: 2px;
}
}






        